*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
    margin-bottom: 30px;
    margin-left: 20px;
    padding-bottom: 20px;
}

nav ul{
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin: 20px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
    margin-left: 25px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 30px;
}

.col-2 img{
    border-radius: 20%;
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    margin-left: 25px;
    border-radius: 30px;
    transition: background 0.5;
}

.btn:hover{
    background: #563434;
}


.header .row{
    margin-top: 10px;

}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    border-radius: 20%;
    width: 90%;
}

.container-sm{
   max-width: 1080px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px; 
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    text-align: center;
    padding-bottom: 20px;
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

.card{
    background-color: rgb(213, 200, 218);
    font: white;
}

.card:hover{
    transform: translateY(-5px);
}

.card-img-top {
    border-width: 5px;
    border-radius: 0;
    height: 200px;
    width: 250px;
    padding-left: 33.3px;
}

.card-title{
    position: center;
}

/* ------ Offer ----- */


.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small {
    color:#555;
}

/* ----- testimonial ----- */

.testimonial{
    padding-top: 100px;

}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(238, 160, 160, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 100px;
    margin-top: 25px;
    border-radius: 25%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* ----- footer ----- */

.footer{
    background: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #fff;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer .col{
   min-width: 250px;
   margin-bottom: 20px;
   flex-basis: 30%;
   flex: 1;
   text-align: center;

}

.footer .col img{
    width: 180px;
    margin-bottom: 20px;
}

ul{
    list-style-type: none;
    color: #fff;
}


.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.Copyright {
    text-align: center;
}

#Jason_Jamie{
    width: fit-content;
    height: fit-content;
    padding-bottom: 40px;
}

.contact-form{
    align-items: center;
    text-align: center;
}


#market {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

body {
    background: radial-gradient(#fff, #ffd6d6);
}

#navbarNav {
    justify-content: right;
    background-color: radial-gradient(#fff, #ffd6d6);
    font-size: xx-large;
}

#navbar-test {
    background-color: radial-gradient(#fff, #ffd6d6);
    margin-left: 0px;
}

#shopping-cart-nav {
    padding-top: 8px;
}